.banner{
max-width: 800px;
max-height: 200px;    
}
.container{
display: flex;
flex-direction: column;
justify-content:space-around;
align-items: end;
width: 800px; 
height: 200px;
background-image: linear-gradient(to bottom,rgb(29, 28, 28) 25%, white);
padding-right: 40px;
}
h1{
display: block;    
color: white;
margin-bottom: 30px;
font-family: 'Alumni Sans Inline One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Press Start 2P', cursive;
font-size: 25px;
}
h2{
text-align: end;  
margin-right: 10px; 
display: block;    
font-family: 'Alumni Sans Inline One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Press Start 2P', cursive 
}
.imgLogo{
display: flex;
align-content: end;
min-width: 550px;
justify-content: space-around; 
}